In [31]:
import requests
import pandas as pd
import numpy as np
import os.path

date = input('Input Date (YYMMDD): ')

#create url based on user input
url = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_' + date + '.txt'

# read the .txt file from MTA into a dataframe
data = pd.read_csv(url)

# drop rows that are not relevant data
data = data[data['LINENAME'].str.contains("(?x) N | Q | 4 | 5 | 6")]

# drop rows that do not come from desired stations
# data = data[data['STATIONS'].isin(stations)]

# remove whitespace in column names
data.columns = data.columns.str.strip()

# drop columns that don't contain our target data
data = data.drop(['C/A', 'UNIT', 'SCP', 'DIVISION', 'DESC', 'EXITS'],axis=1)

# reset the index after removing rows and columns
data = data.reset_index()
# drop the additional index column that reset_index() added
data = data.drop('index', axis=1)

print(data)

Input Date (YYMMDD): 180331
               STATION LINENAME        DATE      TIME     ENTRIES
0                59 ST  NQR456W  03/24/2018  00:00:00     6559322
1                59 ST  NQR456W  03/24/2018  04:00:00     6559322
2                59 ST  NQR456W  03/24/2018  08:00:00     6559322
3                59 ST  NQR456W  03/24/2018  12:00:00     6559323
4                59 ST  NQR456W  03/24/2018  16:00:00     6559327
5                59 ST  NQR456W  03/24/2018  20:00:00     6559341
6                59 ST  NQR456W  03/25/2018  00:00:00     6559565
7                59 ST  NQR456W  03/25/2018  04:00:00     6559565
8                59 ST  NQR456W  03/25/2018  08:00:00     6559565
9                59 ST  NQR456W  03/25/2018  12:00:00     6559568
10               59 ST  NQR456W  03/25/2018  16:00:00     6559572
11               59 ST  NQR456W  03/25/2018  20:00:00     6559578
12               59 ST  NQR456W  03/26/2018  00:00:00     6559579
13               59 ST  NQR456W  03/26/2018  04:00:00     6559579
14               59 ST  NQR456W  03/26/2018  08:00:00     6559610
15               59 ST  NQR456W  03/26/2018  12:00:00     6559751
16               59 ST  NQR456W  03/26/2018  16:00:00     6560069
17               59 ST  NQR456W  03/26/2018  20:00:00     6560783
18               59 ST  NQR456W  03/27/2018  00:00:00     6560941
19               59 ST  NQR456W  03/27/2018  04:00:00     6560942
20               59 ST  NQR456W  03/27/2018  08:00:00     6560973
21               59 ST  NQR456W  03/27/2018  12:00:00     6561135
22               59 ST  NQR456W  03/27/2018  16:00:00     6561482
23               59 ST  NQR456W  03/27/2018  20:00:00     6562234
24               59 ST  NQR456W  03/28/2018  00:00:00     6562409
25               59 ST  NQR456W  03/28/2018  04:00:00     6562411
26               59 ST  NQR456W  03/28/2018  08:00:00     6562453
27               59 ST  NQR456W  03/28/2018  12:00:00     6562624
28               59 ST  NQR456W  03/28/2018  16:00:00     6562963
29               59 ST  NQR456W  03/28/2018  20:00:00     6563644
...                ...      ...         ...       ...         ...
73402  EASTCHSTER/DYRE        5  03/26/2018  01:00:00  1560119191
73403  EASTCHSTER/DYRE        5  03/26/2018  05:00:00  1560119186
73404  EASTCHSTER/DYRE        5  03/26/2018  09:00:00  1560118900
73405  EASTCHSTER/DYRE        5  03/26/2018  13:00:00  1560118853
73406  EASTCHSTER/DYRE        5  03/26/2018  17:00:00  1560118785
73407  EASTCHSTER/DYRE        5  03/26/2018  21:00:00  1560118734
73408  EASTCHSTER/DYRE        5  03/27/2018  01:00:00  1560118729
73409  EASTCHSTER/DYRE        5  03/27/2018  05:00:00  1560118724
73410  EASTCHSTER/DYRE        5  03/27/2018  09:00:00  1560118441
73411  EASTCHSTER/DYRE        5  03/27/2018  13:00:00  1560118382
73412  EASTCHSTER/DYRE        5  03/27/2018  17:00:00  1560118313
73413  EASTCHSTER/DYRE        5  03/27/2018  21:00:00  1560118257
73414  EASTCHSTER/DYRE        5  03/28/2018  01:00:00  1560118248
73415  EASTCHSTER/DYRE        5  03/28/2018  05:00:00  1560118243
73416  EASTCHSTER/DYRE        5  03/28/2018  09:00:00  1560117985
73417  EASTCHSTER/DYRE        5  03/28/2018  13:00:00  1560117938
73418  EASTCHSTER/DYRE        5  03/28/2018  17:00:00  1560117867
73419  EASTCHSTER/DYRE        5  03/28/2018  21:00:00  1560117813
73420  EASTCHSTER/DYRE        5  03/29/2018  01:00:00  1560117806
73421  EASTCHSTER/DYRE        5  03/29/2018  05:00:00  1560117798
73422  EASTCHSTER/DYRE        5  03/29/2018  09:00:00  1560117524
73423  EASTCHSTER/DYRE        5  03/29/2018  13:00:00  1560117484
73424  EASTCHSTER/DYRE        5  03/29/2018  17:00:00  1560117375
73425  EASTCHSTER/DYRE        5  03/29/2018  21:00:00  1560117329
73426  EASTCHSTER/DYRE        5  03/30/2018  01:00:00  1560117326
73427  EASTCHSTER/DYRE        5  03/30/2018  05:00:00  1560117323
73428  EASTCHSTER/DYRE        5  03/30/2018  09:00:00  1560117195
73429  EASTCHSTER/DYRE        5  03/30/2018  13:00:00  1560117151
73430  EASTCHSTER/DYRE        5  03/30/2018  17:00:00  1560117101
73431  EASTCHSTER/DYRE        5  03/30/2018  21:00:00  1560117065

[73432 rows x 5 columns]